


<h2> List of the rating </h2>

 <ul>
  <% @ratings.each do |rating| %>
     <li> <%= rating.beer.name%>  <%= rating.score %> </li>
    <%= button_to 'delete', rating_path(rating.id), method: :delete, form: { data: { turbo_confirm: 'Are you sure want to delete?' } } %>
     <%= link_to rating.user, rating.user %>
  <% end %>
</ul>

<h1> Most active Users</h1>

<ul>
    <%= @ratings.each do |d| %>
    <li> <%= d.user %> <%=d.rating.count %></li>
    <% end %> %>

</ul>

<%= link_to "New rating", new_rating_path %>


<!--<h2>List of ratings</h2>

<ul>
  <%# @ratings.each do |rating| %>
    <li>
      <%#= "#{rating.beer.name} #{rating.score}" %>
      <%#= link_to rating.user.username, rating.user %>
    </li>
  <%# end %>
</ul>

<%#= link_to "New rating", new_rating_path %>-->

