<div id="<%= dom_id brewery %>">

  <h2>
     <%= brewery.name %>
  </h2>
<p>
     Establisched in: <%= brewery.year %>
  </p>
  <p>
   beers count are:  <%=brewery.beers.count %>
  </p>

 <p>
<% brewery.beers.each do |beer| %>
<%= link_to " #{beer.name}", beer%>

<% end %>
</p>

<p> Brewery has  <%=brewery.ratings.count %> with an average of  <%= brewery.average_rating%> </p>





</div>
