<div id="<%= dom_id beer %>">
<table class="table">
  <thead>
  <tr>
    <th scope="col">Beer</th>
    <th scope="col">Style</th>
    <th scope="col">Brewery</th>
    <th scope="col">Rating</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= link_to beer.name, beer %></td>
    <td> <%= link_to beer.style.name, beer.style %></td>
    <td><%= link_to beer.brewery.name, beer.brewery %> </td>
    <td> <%=  round(beer.average_rating) %> </td>
  </tr>
  </tbody>
</table>

  <ol>
    <li>

    </li>
  </ol>
</div>


